@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.cta-big-percent {
  line-height: 1;
}

.cta-small-percent {
  line-height: 1;
  margin-bottom: 0.5rem;
}

.footer-pill {
  background: rgba(255, 255, 255, 0.95);
}
